<!--
    great number game - express assignment using session & post
-->
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta meta charset='UTF-8'>
        <meta name='name' content='codingDojo express the great number game assignment'>
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel='stylesheet' href='/static/css/style.css' type='text/css' />
    </head>
    <body>
        <div class='container'>
            <div class='box'>
                <h3 class='text-center'>Welcome to the Great Number Game!</h3>
                <p>I'm thinking of a number between 1 and 100</p>
                <p>Take a Guess!</p>
                <div id='hint'></div>
                <div id='success'></div>
                <div class='innerBox'>
                    <form id='guessData' action='/submit' method='post'>
                        <div class='inputX form-group col-3'>
                            <input type='number' class='form-control' name='num'>
                        </div>
                            <input id='guess' type='submit' class='btn btn-secondary'>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('#guess').on('click', function(e){
                    e.preventDefault();
                    var uData = $('#guessData').serialize();
                    console.log(uData);
                    // making this assignment difficult - use of session is not necessary at this point
                    $.ajax({
                        url: 'http://localhost:8000/submit',
                        type: 'POST',
                        data: uData,
                        dataType: 'json',
                        success: function(serverResponse){
                            if (serverResponse.status == 0) {
                                $('#hint').html('<div class="redBox"><h2>Too low!</h2></div>');
                            } else if (serverResponse.status == 2) {
                                $('#hint').html('<div class="redBox"><h2>Too high!</h2></div>');
                            } else {
                                $('#hint').hide();
                                let winOutput = '<div class="greenBox"><h3>'+serverResponse.num+' was the number!</h3>';
                                winOutput += '<a href="/" class="text-center btn btn-secondary">Play again!</a></div>';
                                $('#success').html(winOutput);
                            }
                        }
                    })
                })
            })
        </script>
    </body>
</html>