<div class='container'>
    <div class='flash' *ngIf='flashMsg'>
        <p>{{ flashMsg }}</p>
    </div>
    <div class='dsp'>
        <h3>Sell ShintoCoins</h3>
        <h5>Current ShintoCoin Value: {{ currentVal }}</h5>
        <h5 id='sell'>Number of ShintoCoins Owned: {{ currentWallet }}</h5>
        <form (submit)='sellCoins()'>
            <div class='form-group'>
                <input type='number' name='sell' [(ngModel)]="sell" />
                <input type="submit" class='col-3 btn-outline-success mx-1' value="Sell" />
            </div>
        </form>
    </div>
</div>