.container {
    margin: 0 auto;
}

.tasksList {
    margin: 0 auto;
    width: 90%;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
}

.taskView {
    margin: 10px auto;
    width: 80%;
    padding: 10px;
}

.controls {
    margin: 5px auto;
    padding: 5px;
    width: 50%;
}

.editInput {
    margin: 10px auto;
    width: 60%;
}